
form {
  margin: auto;
  width: 35%;
}

.result {
  margin: auto;
  width: 35%;
  border: 1px solid #ccc;
}

.heading{
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.title2{
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.errorMessage1 {
  color: red;
  background-color: white;
  padding: 5px;
  visibility: hidden;
  position: relative;
  float: left;
  }
  .errorMessage2 {
    color: red;
    background-color: white;
    padding: 5px;
    visibility: hidden;
    position: relative;
    float: left;
    }
    .errorMessage3 {
      color: red;
      background-color: white;
      padding: 5px;
      visibility: hidden;
      position: relative;
      float: left;
      }
      .errorMessage4 {
        color: red;
        background-color: white;
        padding: 5px;
        visibility: hidden;
        position: relative;
        float: left;
        }
        
        .errorMessage5 {
          color: red;
          background-color: white;
          padding: 5px;
          visibility: hidden;
          position: relative;
          float: left;
          }
        
          .errorMessage6 {
            color: red;
            background-color: white;
            padding: 5px;
            visibility: hidden;
            position: relative;
            float: left;
            }
            .errorMessage7 {
              color: red;
              background-color: white;
              padding: 5px;
              visibility: hidden;
              position: relative;
              float: left;
              }
                  
  .errorMessage1.top-arrow:after {
    color: red;
  content: " ";
  position: absolute;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid white;
  }
  .errorMessage2.top-arrow:after {
    color: red;
  content: " ";
  position: absolute;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid white;
  }
  .errorMessage3.top-arrow:after {
    color: red;
  content: " ";
  position: absolute;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid white;
  }
  .errorMessage4.top-arrow:after {
    color: red;
  content: " ";
  position: absolute;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid white;
  }
  .errorMessage5.top-arrow:after {
    color: red;
  content: " ";
  position: absolute;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid white;
  }
  .errorMessage6.top-arrow:after {
    color: red;
  content: " ";
  position: absolute;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid white;
  }
  .errorMessage7.top-arrow:after {
    color: red;
  content: " ";
  position: absolute;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid white;
  }
  