
form {
  margin: auto;
  width: 35%;
}

.result {
  margin: auto;
  width: 35%;
  border: 1px solid #ccc;
}

.heading{
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.title2{
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.errorMessage {
  color: red;
  background-color: white;
  padding: 5px;
  visibility: hidden;
  position: relative;
  float: left;
  }
  .errorMessage.top-arrow:after {
    color: red;
  content: " ";
  position: absolute;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid white;
  }
  