
form {
  margin: auto;
  width: 35%;
}

.result {
  margin: auto;
  width: 35%;
  border: 1px solid #ccc;
}

.heading{
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.title2{
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}